body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 5em;
    max-width: 600px;
    min-width: 360px;
    height: auto;
    padding: auto;
    box-shadow: -3px -2px lightgray;
}

.card1 {
    display: flex;
    width: auto;
    padding: auto;
    justify-content: center;
    height: auto;
    margin-bottom: -20%;
}

.card1 img {
    min-width: 80%;
}

.card2 {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 185, 166);
    font-size: 24px;
    border-radius: 25px 25px 0 0;
    color: white;
    padding-bottom: 4rem;
    margin-bottom: -10%;
}

.card3 {
    background-color: white;
    border-radius: 25px 25px 0 0;
}

.card3 p {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: black;
}

.card3 h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: rgb(59, 185, 166);
}

.card3 h3 {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.mockButton {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 185, 166);
    width: 60%;
    border-radius: 25px;
    color: white;
    padding: .25px;
}

.card3 ul {
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
}

/* .card3 li {
    display: flex;
    justify-content: center;
} */